
.list-tools{
    padding: 20px;
    margin-bottom: 50px;
    background: rgb(245, 237, 237);
    border: 1px solid #ccc;

}

.list-footer{
    font-size: 14px;
    margin-left:12px ;
}
.list-header select{
    background:#f0c9c9;
    font-size: 15px;
    margin-left: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.list-header button{
    background-color: rgb(175, 175, 255);
    cursor: pointer;
    margin-left: 12px;
}

.searchInput{
    margin: 12px;

}

